* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(circle farthest-corner at 48.4% 47.5%,  rgba(122,183,255,1) 0%, rgba(21,83,161,1) 90% );
    height: 100vh;
}

div {
    display: grid;
    grid-template-columns: 1fr;
    place-self: center;
    height: 100%;
}

textarea {
    width: 400px;
    height: 150px;
    resize: none;
    margin: auto auto 0px auto;
}

div button {
    background-color: #3b82f6;
    margin: 12px auto auto auto;
    outline: none;
    border: none;
    color: white;
    width: 250px;
    height: 40px;
    border-radius: 50px;
    transition: all .3s;
}

div button:hover {
    background-color: #2563eb;
    cursor: pointer;
    transform: scale(1.05);
}